<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--##### Prod ####
        <add name="CSImportConnectionString" connectionString="Data Source=knetvirsql202.knet.ad.svenskakyrkan.se\instance202,50002;Initial Catalog=csimport;Integrated Security=false; user id=webuser;password=webuser123;App=EntityFramework;Max Pool Size=100;"
        providerName="System.Data.SqlClient" /> 
        -->
    <!-- ##### dev ####  -->
    <add name="CSImportConnectionString" connectionString="Data Source=SVKWEBSQL2001T\SVKWEBT;Initial Catalog=CSimport_Dev;User ID=webuser;Password=webuser123;Max Pool Size=100;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <!-- ##### local #### 
             <add name="CSImportConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CSImport;Integrated Security=False; user id=webuser;password=webuser123;Max Pool Size=100;Application Name=EntityFramework" 
             providerName="System.Data.SqlClient" />
             -->
  </connectionStrings>
  <!-- svkwebsql2001t.knet.ad.svenskakyrkan.se\svkwebt -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>